COOKIE_EXPIRE=""
EMAIL_APP_NAME=""
EMAIL_SENDER=""
EMAIL_SENDER_PASSWORD=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SCRETE=""
GOOGLE_AUTH_CLIENT_ID=""
GOOGLE_AUTH_CLIENT_SECRET=""
JWT_ALGO=""
JWT_SECRET_KEY=""
MONGODB_URL=""
NEXTAUTH_SECRET=""
SERVER_PATH=""
SERVER_PORT="5000"
TokenName="Token"
WHITELIST_URL=""
PRODUCTION=false
